

h1 {
    text-align: center;
}

body {
    background-color:#D6D7DA;
}
.principal{
    display: flex;
    /* border: 1px solid red; */
    height: 500px;
    max-width: 770px;
    margin: 0 auto;
}
    

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    /* border: 1px solid green; */
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,;
    font-size: 12px;
}

.boton {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:rgb(206, 204, 204);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    border-style: none;
    
}
.boton:hover{
    opacity: 0.50;
    
    filter:alpha (opacity=50);
  }
   
.details {
    background-color: #efeff2;
    /* border: 1px solid blue; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-grow: 1;
}

/* schimbare din today in week */
#saptamana {
    display: none;
}

#today {
    display: flex;
}

#weekBoton {
    opacity: 0.5;
}

#todayBoton {
    opacity: 1;
}

#weekBoton, #todayBoton {
    font-weight: bold;
}

.saptamana #todayBoton {
    opacity: 0.5;
}

.saptamana #weekBoton {
    opacity: 1;
}

.saptamana #saptamana {
    display: flex;
}

.saptamana #today {
    display: none;
}

.week {
    display: flex;
    justify-content: space-evenly;
}
.day, .hour {
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    height: 121px;
    width: 72px;
    text-align: center;
    align-items: center;
    border-radius: 18px;
    justify-content: center;
    
    
}
#text{
    font-size: small;
    font-family: sans-serif ;
    margin-left: 20px;
}
.textH{
    font-size: 15px;
    margin-top: 5px;
}
#temp{
    background-color: rgba(46, 42, 49, 0);
    height: 80px;
    width: 200px;
    font-size: 70px;
    text-align: center;
    border-radius: 15px;
    margin: 5px;
    align-items: center;
}
#icon{
    height: 120px;
    width:  120px;
    border:0;
}
.icon2{
    height: 50px;
    width: 50px;
    align-content: center;
}


.min{
    text-size-adjust: 10px;
    color: rgb(107, 116, 116);
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}   
.max{
    
    text-size-adjust: 20px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.converter{
    display: flex; 
    justify-content: flex-end;
    
    padding: 10px;
    scroll-padding-inline: 15px;    
}
.dw{
    background-color: rgba(248, 237, 224, 0);
    box-sizing: content-box;
    border-radius: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0px;
    border: none;


}
.dw:hover{
    opacity: 0.50;
    
    filter:alpha (opacity=50);
}

#weekBoton{
    margin-right: 322px;
    outline:0px;
}


#todayBoton{
    margin-right: 10px;
    outline:0px;
}
.minMax{
    display: flex;
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
}
.highlights{
    display: flex;
    flex-wrap: wrap;
 
    margin-top: 20px;
}
.status{
    background-color: rgb(255 255 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
    flex: 1 140px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}
#indiceUV{
    font-size: 1cm;
}
#humidity{
    font-size: 1cm;
}
#today{
    justify-content: space-evenly;
}
#direction{
    width: 70px;
}
#container{
    width: 147px;
    height: 20px;
    background-color: rgb(240, 236, 236);
    border-radius: 6px;
}
#progress{
    width: 147px;
    height: 20px;
    background-color: #FFBF5E;
    border-radius: 6px;
}
#direccion{
    margin: 0px;
}
